

<carousel [isAnimated]="true">
    <slide>
        <img class="img-fluid" src="assets/images/Roadster.jpg" alt="first slide" style="display:block; width:100%">
    </slide>
    <slide>
        <img class="img-fluid" src="assets/images/libas.jpg" alt="second slide" style="display:block; width:100%">
    </slide>
    <slide>
        <img class="img-fluid" src="assets/images/polo.jpg" alt="third slide" style="display:block; width:100%">
    </slide>
    <slide>
        <img class="img-fluid" src="assets/images/HRX.jpg" alt="first slide" style="display:block; width:100%">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h2 class="blue-text vib"><p>HippiKart</p></h2>
    </div>
</section>